@charset "utf-8";

@import 'variables';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import "~bulma/bulma";

@font-face {
    font-family: 'Plume';
    src: url(../fonts/Plume-Free-Brush-Font.otf);
}

h1, h2, h3, h4, h5, h6, .plume {
    font-family: 'Plume';
}
