@charset "utf-8";

@import "~bulma/bulma/sass/utilities/initial-variables";

$black: #1e2020;
$dark: $black;
$dark-bis: $black;
$grey-dark: $black;
$grey-darker: $black;
$blue: #5176a3;
$white: #e8bc38;
$white-bis: #e8b338;
$background: $white;

@import "~bulma/bulma/bulma";

@font-face {
	font-family: 'Plume';
	src: url(assets/fonts/Plume-Free-Brush-Font.otf);
}

h1,
h2,
h3,
h4,
h5,
h6,
.plume {
	font-family: 'Plume';
}

.navbar-item {
	font-size: 1.2rem;
	color: invert($black) !important;
}

.navbar-menu {
	background-color: $dark;
}

.table th, .table td {
	border-color: $white;
}

.footer {
	background-color: $black;
	color: invert($black);
}
